
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

h1, p {
  text-align: center;
}

h2 {
  -webkit-text-stroke: 1px black;
  color: white; 
}

body {
  font-family: Verdana, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #3b50b6;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
}

main {
  max-width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* Estilos para plan de carreras */
#plandecarreras {
  margin-top: 20px;
  padding: 20px;
  background-color: #3a92be;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block; 
}

/* Estilos para las carreras disponibles */
.seccionescarreras {
  margin-top: 20px;
  padding: 20px;
  background-color: #3a92be;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

iframe {
  max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
  max-height: 480px; /* Establece la altura máxima en píxeles o cualquier otra unidad que desees */
}

/*Contacto */
#contacto {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#contacto div {
  padding: 10px;
}

#contacto p {
  margin-bottom: 10px;
}

/* Botón mostrar planes */
.oculto {
  display: none;
}

#mostrarPlanes {
  background-color: #3b50b6; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block; 
  margin: 0 auto; 
}

#mostrarPlanes:hover {
  background-color: #2a3a90;
  transform: scale(1.1);
}

#carreras a {
  color: #ffffff; 
  text-decoration: none;
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.3s ease;

  &:hover {
    border-bottom: 2px solid #ffffff;
  }
}

/*Logo*/
#logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*Botón Mas info */
.mostrar-plan-button {
  background-color: #3b50b6; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  display: block; 
  margin: 0 auto; 
}

.mostrar-plan-button:hover {
  background-color: #2a3a90;
  transform: scale(1.1);
}

/*Boton hacia arriba*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

#scrollToTopButton:hover {
  background-color: #2a3a90;
}

/*iconos */
.social-icon {
  height: 60px; 
  margin: 5; 
  filter: grayscale(100%); 
  transition: filter 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  filter: grayscale(0%); 
  transform: scale(1.2); 
}

/* Formulario */
#contactForm {
  margin-top: 20px;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#contactForm label {
  display: block;
  margin-bottom: 5px;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contactForm button {
  background-color: #3b50b6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  margin: 0 auto;
}

#contactForm button:hover {
  background-color: #2a3a90;
  transform: scale(1.1);
}

#mensaje {
  resize: none;
}