/* Reset de estilos y estilos globales */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

h1, p {
  text-align: center;
}

h2 {
  -webkit-text-stroke: 1px black;
  color: white; 
}

body {
  font-family: Verdana, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #3b50b6;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
}

main {
  max-width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

#plandecarreras {
  margin-top: 20px;
  padding: 20px;
  background-color: #3a92be;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block; 
}

#carreras {
  margin-top: 20px;
  padding: 20px;
  background-color: #3a92be;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form {
  display: grid;
  gap: 10px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para las carreras disponibles */
.carrera {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seccionescarreras {
  margin-top: 20px;
  padding: 20px;
  background-color: #3a92be;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilos para la sección de contacto */
#contacto {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#contacto div {
  padding: 10px;
}

#contacto p {
  margin-bottom: 10px;
}

.mensaje-exito {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.oculto {
  display: none;
}

header img {
  max-width: 100%;
  height: auto;
}

#mostrarPlanes {
  background-color: #3b50b6; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave del color de fondo y transform */
  display: block; /* Asegura que los botones ocupen todo el ancho */
  margin: 0 auto; 
}

#mostrarPlanes:hover {
  background-color: #2a3a90; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  transform: scale(1.1);
}

#logo {
  max-width: 100%;
  height: auto;
  display: block;
}

.mostrar-plan-button {
  background-color: #3b50b6; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave del color de fondo y transform */
  display: block; /* Asegura que los botones ocupen todo el ancho */
  margin: 0 auto; /* Centra horizontalmente el botón */
}

.mostrar-plan-button:hover {
  background-color: #2a3a90; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  transform: scale(1.1); /* Aumenta el tamaño en un 10% al pasar el mouse */
}

/*Volver arriba */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.scroll-to-top button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

#scrollToTopButton:hover {
  background-color: #2a3a90;
}

/*iconos */
.social-icon {
  height: 60px; 
  margin: 5; 
  filter: grayscale(100%); 
  transition: filter 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  filter: grayscale(0%); 
  transform: scale(1.2); 
}






